.index {
  margin: 30px;
}

.app-name {
  color: royalblue;
  text-align: center;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 100%;
  border: 1px solid rgb(241, 222, 222);
  border-radius: 4px;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin: 10px 0 10px 0;
  padding: 10px;
  border: 1px solid rgb(241, 222, 222);
  border-radius: 4px;
}

.details-title {
  font-size: 1.3rem;
}

.details-description {
  text-overflow: hidden;
  font-size: 1.0rem;
}

.author .publishedAt {
  margin: 0;
  font-size: 1.5rem;
}

.list-group-item {
  cursor: pointer;
  margin-left: 10px;
  background: none !important;
}

.list-group-item:hover {
  background-color: #eee;
}